<li id=`{{foodElement.name}}Container` class="foodElementContainer">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{foodElement.name}}</mat-card-title>
      <mat-card-subtitle>Calories: {{foodElement.calories}}</mat-card-subtitle>
    </mat-card-header>
    <div class="foodImageContainer">
      <img mat-card-image src={{foodElement.image}} alt="Photo of a {{foodElement.name}}">
    </div>

    <mat-card-actions>
      <button mat-button (click)="addDishToMeal(foodElement)">Add to menu</button>
      <input type="number" value=1 name="foodQuantity" [(ngModel)]="foodQuantity">
    </mat-card-actions>
  </mat-card>
</li>