:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

#searBarContainer {
  display: flex;
  flex-direction: column;
}

#foodContainer {
  gap: 1rem;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
}