<div id="foodContainer">
  @for (foodElement of food | foodFilter: searchText; track foodElement.id) {
    <div id=`{{foodElement.name}}Container` class="foodElementContainer">
      <img src={{foodElement.image}} class="foodImage">
      <div class="foodInformationContainer">
        <h3>{{foodElement.name}}</h3>
        <p>Calories: {{foodElement.calories}}</p>

        <div>
          <button (click)="addToMeal(foodElement)">+</button>
          <input type="text" value=1 >
          <!-- <input type="text" value=1 name="foodQuantity" #foodQuantity="ngModel" ngModel> -->
        </div>
      </div>
    </div>
  }
</div>
