:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.hide {
  display: none;
}

label {
  font-weight: bold;
}
